.dir{
	direction: rtl;
	text-align: right;
}

.blog-header-en{
	float: left;
	margin-left: 25%;
	font-size: 5em;
}

.blog-header-fa{
	margin-right: 25%;
	font-size: 5em;
}

.card{
	border: 0px;
	border-radius: 33px !important;
	background-color: rgb(249, 249, 249);
}

.border{
	border: 1px solid rgb(249, 249, 249);
}

.card2{
	border: 0px;
	border-radius: 33px !important;
	background-color: rgb(249, 249, 249);
}

.round-right{
	border-top-right-radius: 33px;
	border-bottom-right-radius: 33px;
}

.m3pr{
	margin-bottom: 3%;
}

.cntr{
	padding-left: 11%;
	padding-right: 11%;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.padd3pr{
	padding: 3%;
}

.padd1pr{
	padding: 1%;
}

.rond{
	border: 0px;
	border-radius: 33px !important;
}

.bold{
	font-weight: bold;
}

.mt3pr{
	margin-top: 3%;
}

/*  */
@font-face {
	font-family: Sahel;
	src: url(../fonts/Sahel.ttf);
}
/*  */

.farsi{
	font-family: 'Sahel' !important;
}
